$animationSpeed: 0.5s;

.carousel {
  &__list {
    position: relative;
    width: 100%;
  }

  &__content {
    width: 100%;
    position: absolute;
    display: grid;

    height: 100%;
    transition: $animationSpeed;

    &__start-left {
      animation: start-left $animationSpeed ease-in-out;
    }

    &__start-right {
      animation: start-right $animationSpeed ease-in-out;
    }

    &__move-left {
      transform: translateX(100vw);
      transition: $animationSpeed ease-in-out;
    }

    &__move-right {
      transform: translateX(-100vw);
      transition: $animationSpeed ease-in-out;
    }
  }
}

@keyframes start-left {
  0% {
    transform: translateX(100vw);
    filter: blur(0px);
  }

  50% {
    filter: blur(2px);
  }

  100% {
    transform: translateX(0);
    filter: blur(0px);
  }
}

@keyframes start-right {
  0% {
    transform: translateX(-100vw);
    filter: blur(0px);
  }

  50% {
    filter: blur(2px);
  }

  100% {
    transform: translateX(0);
    filter: blur(0px);
  }
}
