@import "../../assets/style/variables.scss";

// - Breakpoints -

$breakpoint-large: 1600px;
$breakpoint-medium: 1000px;
$breakpoint-small: 750px;
$breakpoint-mobile: 550px;
$breakpoint-xmobile: 450px;
$breakpoint-xsmall: 350px;

// - Media Queries -

@mixin media-xsmall {
  @media (min-width: $breakpoint-xsmall) {
    @content;
  }
}

@mixin media-xmobile {
  @media (min-width: $breakpoint-xmobile) {
    @content;
  }
}

@mixin media-mobile {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin media-small {
  @media (min-width: $breakpoint-small) {
    @content;
  }
}

@mixin media-medium {
  @media (min-width: $breakpoint-medium) {
    @content;
  }
}
