@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "../../assets/style/variables.scss";
@import "../../assets/style/media.scss";
@import "../../assets/style//config.scss";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  color: $text;
}

main {
  padding: 0rem 10%;
  @include media-xmobile {
    padding: 0rem 12%;
  }
  @include media-mobile {
    padding: 0rem 5rem;
  }
  @include media-small {
    padding: 0rem 3rem;
  }
  @include media-medium {
    padding: 0rem 15%;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: $special;
  $min: 3rem;
  $max: 5rem;
  font-size: clamp($min, $scaleWidth, $max);
}

button {
  background: none;
  border: none;
  color: $link;
  outline: none;
  cursor: pointer;
}

p {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  line-height: clamp(1.5rem, 5vw, 2.55rem);
}
