@import "../../assets/style/media.scss";

.header {
  display: grid;
  position: fixed;
  grid-template-columns: 0.4fr 1fr;
  padding: 0.5rem 2rem;
  background-color: #050c29;
  height: 10vh;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;

  @include media-xmobile {
    grid-template-columns: 0.6fr 1fr;
  }

  @include media-small {
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 10%;
  }

  &__logo {
    display: flex;
    align-items: center;
    img {
      width: 3.25rem;
      @include media-small {
        width: 5rem;
      }
    }
  }

  &__nav {
    align-items: center;
    display: grid;
    font-size: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
    p {
      display: flex;
      justify-content: flex-end;
      @include media-small {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
