.header {
  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 2rem;
    background-color: #050c29;
    height: 10vh;
    &__logo {
      display: flex;
      align-items: center;
      img {
        width: 5rem;
      }
    }

    &__nav {
      align-items: center;
      display: grid;
      font-size: 1.2rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
